header {
     padding: 0px;
    position: relative;
}
.logo {
    margin: 20px;
   padding: 10px;
    height: 50px;
  right: -520px;
    position: relative;
}


a {
    color: rgb(0, 0, 0)
}
nav {
font-size: 20px;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
#navbar {
    border: black;
   margin: 15px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.contener {
  
    background-color: rgb(231, 231, 231);
    width: 1000px;
    height: 1400px;
    margin-left: auto ;
    margin-right: auto;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;

}

.tittle {
font-family: 'Roboto', sans-serif;
font-size: medium;
font-size: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

ul {
    font-family: 'Open Sans', sans-serif;
}


.box1 {
    
    background-color: whitesmoke;
    width: 800px;
    height: 190px;
    margin-left: auto ;
    margin-right: auto;
    padding: 10px;
 border-radius: 1rem;
 margin: 80px;
box-shadow:  21px 21px 61px #b3b3b3, 
             -21px -21px 61px #ffffff;
}

.box2 {
    background-color: whitesmoke;
    width: 800px;
    height: 400px;
    margin-left: auto ;
    margin-right: auto;
    padding: 10px;
 border-radius: 1rem;
 margin: 80px;
 box-shadow:  21px 21px 61px #b3b3b3, 
             -21px -21px 61px #ffffff;
}

.box3 {
    background-color: whitesmoke;
    width: 800px;
    height: 400px;
    margin-left: auto ;
    margin-right: auto;
    padding: 10px;
 border-radius: 1rem;
 margin: 80px;
 box-shadow:  21px 21px 61px #b3b3b3, 
             -21px -21px 61px #ffffff;
}


footer {
  background-color:#284329;
  height: 200px;
}