header {

    padding: 0px;
    position: relative;
}
.logo {
    margin: 20px;
   padding: 10px;
    height: 50px;
  right: -520px;
    position: relative;
}
nav {
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}

#navbar {
    border: black;
   margin: -50px;
}

h1 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#contener {
    height: 400px;
    display: flex;
}

.box1 {
margin: 100px;
text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
    width: 600px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;


}

.box2 {
   margin: 100px;
   text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
    width: 600px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
}

.box3 {
    margin: 100px;
    text-align: center;
    font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
    width: 600px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
}


.medium-image1 {
width: 250px;
border-radius: 1rem;
}

.medium-image2 {
    width: 250px;
border-radius: 1rem;
}

.medium-image3 {
    width:250px ;
border-radius: 1rem;
}

nav{
    padding-top: 30px;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

a {
    color: rgb(0, 0, 0)
}


#contact {
    background-color: #284329; 
    font-family: 'Open Sans', sans-serif;
    padding-bottom:100px ;
    margin-top: 400px;
}
