header {
     padding: 0px;
    position: relative;
}
.logo {
    margin: 20px;
   padding: 10px;
    height: 50px;
  right: -520px;
    position: relative;
}


a {
    color: rgb(0, 0, 0)
}
nav {
font-size: 20px;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
#navbar {
    border: black;
   margin: 15px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

p {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
   
}

h2 {
font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.box1 {
margin: 100px;
text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
   width: 1200px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
             display: flex;
}


.box11 {
margin: 100px;
background-color:transparent;
   width: 900px;
    height: 300px;
    margin-left: -70px ;
    margin-right:70px;
    padding: 30px;
 border-radius: 2rem; 
 display: flex;
}




.medium-image1 {
   width: 200px;
   height: 400px;
border-radius: 1rem;
}


p{
    font-size: 5px;
font-family: 'Open Sans', sans-serif;
}


h3 {
font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.box2 {
margin: 100px;
text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
   width: 1200px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
             display: flex;
}
.box22 {
margin: 100px;

background-color:transparent;
   width: 900px;
    height: 300px;
    margin-left: -70px ;
    margin-right:70px;
    padding: 30px;
 border-radius: 2rem; 
 display: flex;
}



.medium-image2 {
    width: 200px;
   height: 400px;
border-radius: 1rem;

}


h4 {
font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.box3 {
margin: 100px;
text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
   width: 1200px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
             display: flex;
}

.box33 {
margin: 100px;

background-color:transparent;
   width: 900px;
    height: 300px;
    margin-left: -10px ;
    margin-right:70px;
    padding: 30px;
 border-radius: 2rem; 
 display: flex;
}




.medium-image3 {
    width: 200px;
   height: 400px;
border-radius: 1rem;

}



.box4 {
margin: 100px;
text-align: center;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
background-color: rgb(231, 231, 231);
    width: 1200px;
    height: 600px;
    margin-left: 50px ;
    margin-right: 200px;
    padding: 10px;
 border-radius: 2rem;
 box-shadow:  20px 20px 49px #dbdbdb, 
             -20px -20px 49px #ffffff;
             display: flex;
}

.box44 {
margin: 100px;

background-color:transparent;
   width: 900px;
    height: 300px;
    margin-left: -10px ;
    margin-right:70px;
    padding: 30px;
 border-radius: 2rem; 
 display: flex;
}


.medium-image4 {
   width: 200px;
   height: 400px;
border-radius: 1rem;
}

h5 {
font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}





